[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scikit-learn = "*"
mananeras = "*"
unidecode = "*"
nltk = "*"

[dev-packages]
jupyter = "*"
jupyterlab = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.8"
